/* * {
    box-sizing: border-box;
} */
h1, h2 {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.button {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
    padding: 16px 45px;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 300px;
    text-transform: capitalize;
    box-shadow: 5px 8px 6px -6px #777;
}

.button-white {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    cursor: pointer;
    padding: 10px 45px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 300px;
    text-transform: capitalize;
    box-shadow: 5px 8px 6px -6px #777;
}

.button:hover {
    background-color: #f23bb0;
    border-color: #f23bb0;
    border-width: 5px;
}

/* HEADER LAYOUT */
.top-of-page {
    background-image: url(images/bg-hero-desktop.svg);
    background-size: cover;
    height: 25%;
    width: auto;
}

.wrapper {
    padding: 70px;
}

.container {
    display: flex;
    justify-content: baseline;
}

.header-logo {
    width: 80%;
    height: auto;
}

.btn {
    margin-left: auto;
}

.text-content {
    display: flex;
    padding-top: 60px;
}

.text-content-item{
    padding-top: 70px;
}

.header-graphics {
    display: flex;
    justify-content: center;
}

.mockups {
    width: 90%;
    height: auto;
}

/* CARDS */
.card-wrapper {
    padding: 80px 0;
}

.cardbox {
    width: 90%;
    height: auto;
    margin: 40px auto;
    box-shadow: 0 0 30px #ccc;
    border-radius: 12px;
}

.card {
    display: flex;
    padding: 70px;
}

.graphics {
    width: 50%;
    height: auto;
}

.graphics-box {
    display: flex;
    justify-content: center;
}
